@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.reports {
  padding: 1rem;

  @include tablet {
    padding: 1rem 3rem;
  }

  @include desktop {
    padding: 1rem 6rem;
  }

  &__title {
    font-weight: 500;
    border-bottom: 2px solid black;
    padding: 1.5rem 0 1rem 0;
    margin-bottom: 1.5rem;

    @include tablet {
      margin-right: 20rem;
    }

    @include desktop {
      margin-right: 48rem;
      padding-left: 1rem;
    }
  }

  &__technician {
    display: flex;
    margin: 1rem 0;
  }

  &__tech-input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 0.5rem;
    margin-left: 0.5rem;
    line-height: 1.5;

    &:focus {
      outline: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__finish {
    background-color: #0b99ff;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    padding: 0.75rem 5rem;
    margin: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #094571;
    }
  }

  &__save {
    background-color: #2ce96b;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    padding: 0.75rem 5rem;
    margin: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #146314;
    }
  }

  &__print {
    background-color: #f24822;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    padding: 0.75rem 5rem;
    margin: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #801111;
    }
  }
}

@media print {
  @page {
    size: 1280px;
  }
}
