@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.reports {
  &__front-brakes {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }
  &__rear-brakes {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__brakes {
    display: none;
  }

  &__subtext {
    margin-bottom: 0.5rem;
  }
}
