@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.customers {
  margin-top: 4rem;
  padding: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 6rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    @include tablet {
      font-size: 2.5rem;
      margin-right: 15rem;
      padding-bottom: 0.75rem;
      margin-bottom: 1.5rem;
    }

    @include desktop {
      font-size: 2rem;
      margin: 0 0 1.5rem 0;
      width: 35%;
    }
  }

  &__search {
    width: 80%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      outline: none;
      border: 1px solid #ee9986;
    }

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 28%;
    }

    &::placeholder {
      font-size: 0.8rem;
      color: black;
      letter-spacing: 1px;
    }
  }
}
