@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.reports {
  &__bottom {
    display: flex;
    flex-direction: column;
  }
  &__top-section {
    display: flex;
    flex-direction: column;
  }
}
