@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.reports {
  &__top {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__top-left {
    @include desktop {
      width: 120%;
      margin-right: 3rem;
    }
  }
  &__top-right {
    @include desktop {
      width: 100%;
    }
  }

  &__front-tires {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    justify-content: space-evenly;
  }

  &__front-left {
    min-width: 5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  &__front-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__car {
    // rotate: -90deg;
    // width: 15rem;
    display: none;
    // margin-left: 5rem;

    @include tablet {
      display: block;
      rotate: -90deg;
      width: 15rem;
      margin-left: 14rem;
    }

    @include desktop {
      margin-left: 11rem;
    }
  }
  &__rear-tires {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__input-tire {
    width: 2.25rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    line-height: 1.5;

    &:focus {
      outline: none;
    }
  }

  &__headlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    margin: 0 1rem;
    width: 100%;

    @include tablet {
      flex-direction: row;
      padding: 0 0 3rem 0;
      justify-content: center;
    }
  }

  &__rearlights {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &__signals {
    margin: 1rem 0;

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__taillights {
    margin-bottom: 1rem;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }

  &__check {
    width: 11%;
    height: 0;
  }

  &__needed {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__rotation {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @include tablet {
      justify-content: space-evenly;
    }
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin: 1rem;
  }
  &__lights-text {
    margin-left: 0.5rem;
  }

  &__top-comments {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__textarea {
    width: 100%;
    height: 6rem;
    resize: none;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    line-height: 1.5;

    &:focus {
      outline: none;
    }
  }

  &__text {
    line-height: 1.5;
    text-transform: uppercase;
  }
}
