@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.reports {
  &__top {
    display: flex;
  }
  &__front-tires {
    display: flex;
    align-items: start;
  }
  &__car {
    rotate: -90deg;
    width: 15rem;

    margin-left: 5rem;
  }
  &__rear-tires {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__input-tire {
    width: 2rem;
  }

  &__rearlights {
    display: flex;
  }

  &__test {
    width: 11%;
    height: 0;
  }

  &__needed {
    display: flex;
  }

  &__rotation {
    display: flex;
    align-items: center;
  }
}
