@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.customer-info {
  display: flex;
  justify-content: space-around;

  &__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}
