@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.customers {
  &__info {
    background-color: rgb(234, 234, 234);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 1.5rem;
      margin: 0 6rem 1rem 6rem;
    }
  }

  &__link {
    text-decoration: none;
    color: rgb(57, 57, 57);
  }

  &__name {
    margin-bottom: 0.4rem;
    color: rgb(57, 57, 57);

    &:hover {
      text-decoration: underline;
    }
  }

  &__vin {
    margin-bottom: 0.4rem;
    color: rgb(57, 57, 57);
  }
  &__vehicle {
    margin-bottom: 0.4rem;
    color: rgb(57, 57, 57);
  }

  &__number {
    margin-bottom: 0.4rem;
    color: rgb(57, 57, 57);
  }

  &__email {
    margin-bottom: 0.4rem;
    color: rgb(57, 57, 57);
  }
}
